@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

body{
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}
header{
    background: url("../images/bg-pattern-intro-desktop.svg") ;
    background-position: center left;
    height: 65vh;
    text-align: center;
    border-bottom-left-radius: 9em;
    color: #fff;
    font-family: 'Overpass', sans-serif;
   
  
}
.filtro_gradiente{
    position: relative;
    background-image: linear-gradient(to right,  hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    height: 65vh;
    width: 100vw;
    margin-top: -65vh;
    z-index: -1;
    border-bottom-left-radius: 9em;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 20%;
    padding: 4em;
    padding-top: 4.5em;
}
.t_options{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    gap: 2px;
    width: 30%;
}
.options{
    display: none;
    flex-direction: column;
    background-color: #fff;
    color: #000000a3;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 1.5em;
    border-radius: 5px;
    width: 100%;
    padding: .8em .5em .8em 1em;
    z-index: 10;
    gap: 7px;
    box-shadow: 1px 1px 4px 2px #00000014;
    animation: animation .4s ease-in-out ;
    
    
}

.ul_rigth, .ul_left{
    display: flex;
    align-items: flex-start;
    
   
}
.ul_rigth{
    gap: 12px;
}
.ul_left{
    
    width: 50%;
}
li{
    display: flex;
    align-items: center;
    margin-right: 1px;
}
header > section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    font-family: 'Overpass', sans-serif;
    z-index: -1;
}
h1{
    font-size: 4em;
    font-weight: 600;
}
header > section > p{
    margin-top: 1em;
    font-size: 1.3em;
    font-weight: 300;
}
.b_ex
{
    padding: 0;
    margin:0;
   
}
button.b_ex{
    text-align: left;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transition-property: color;
    transition-property: color;

    z-index: 0;
}

.ul_left  img{
    margin: 0px;

}
header button{
    font-family: 'Overpass', sans-serif;
    background-color: transparent;
    border-radius: 98px;
    padding: 0.7em;
    padding-left: 1.2em;
    padding-right:  1.2em;
    font-size: 1.04em;
    font-weight: 700;
    color: #fff;
    border: 1.5px solid white;
    cursor: pointer;
    transition: .5s ease-in-out;

}
.button_bkfff{
    background-color: #fff;
    color:  hsl(353, 100%, 62%);
    border-color: #fff;
    text-decoration: none;
}
.button_login{
    border-color: transparent;
}

.buttons{
    margin-top: 3em;
}
.buttons > button{
    margin-right: 1.3em;
}

main > section{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.img{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    

}
.a > .img{
    
   margin-right: -21%;
}
.c > .img{
    
    margin-left: -21%;
 }

 h2{
    font-family: 'Overpass' sans-serif;
    text-align: center;
    margin: 3em 0 -3em 0;
    font-size: 2.5em;
    color:  hsl(208, 49%, 24%);
 }

 .a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;

 }
 
.text{
    color: hsl(207, 13%, 34%);
    margin: 0 7em;
    
}
.text >p{
    font-family: 'Overpass' sans-serif;
    font-weight: 300;
    line-height: 1.8em;
    letter-spacing: .2px;
}

 h3{
    font-family: 'Overpass' sans-serif;
    margin: 1.3em 0;
    font-size:1.8em ;
    color:  hsl(208, 49%, 24%);
    font-weight: 500;
}

.b{
   
    background: url(../images/bg-pattern-circles.svg)  hsl(237, 17%, 21%) no-repeat ;
    background-position: left bottom;
    color: white;
    height: 55vh;
    border-top-right-radius: 6em ;
    border-bottom-left-radius:6em;
    margin: 4em 0;
    margin-bottom: 10em;
    
}
.b p{
    color: white;
    font-weight: 300;
}

.b h3{
    font-size: 2.2em;
    color: #fff;
}


.b img{
    margin-bottom: -3em;
    margin-left: 5em;
}
.options li{
    transition: .3s ease-in-out;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color:  hsl(240, 10%, 16%);
    height:45vh;
    margin-top: 10em;
    border-top-right-radius: 4em;
    
}
footer ul{
    display: flex;
    flex-direction: column;
    gap:14px;
   
}

footer ul a{
    color: rgba(255, 255, 255, 0.557);
    font-weight: 300;
    text-decoration: none;
    transition: .5s ease-in-out;
}

footer .logo{
    margin: 0 3em;
    margin-top: 60px;
}

footer .img{
   display: flex;
   justify-content: center;
   align-items: flex-start;
}
footer h3{
    font-family: 'Overpass' sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    color: white;
    margin-top: 60px;
}


/* active states */

.button_bkfff:hover{
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}
.buttons button:nth-child(2):hover,
.button_login:hover
{
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
    background-color: #fff;
    color: hsl(353, 100%, 62%);
}
footer a:hover{
    text-decoration: underline;
    color: white;
}

button.b_ex:focus:after,
button.b_ex:hover:after {
  width: 50%;
  left: 0%;
}

button.b_ex:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    right: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transition-property: width, left;
    transition-property: width, left;
}

.options li:hover{
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.693);
}


@keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #fff;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }

@keyframes animation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
